@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Merriweather&display=swap');

body {
  background-color: antiquewhite;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Gulzar', serif;
  color: #FF6B00;
}

.container {
  margin-bottom: 2%;
  margin-top: 2%;
}

.row {
  text-align: left;
}

hr {
  border: 2px solid #000;
}

/* Header Section */

nav {
  margin: 2% 4%;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  color: #000;
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
}

/* Home Section */

.solar {
  width: 94%;
}

.main-heading {
  margin-top: 2%;
}

.sub-heading {
  font-size: 20px;
}

.desc-1 {
  font-size: 20px;
  width: 95%;
}

.col {
  display: flex;
  justify-content: space-between;
}

.col p {
  width: 42%;
}

/* Card Section*/

.card {
  max-width: 90%;
  margin: auto;
}

/* Core Team */

.team{
  width: 20%;
  margin: auto;
}

.heading{
  margin-top: 0.9%;
}

.core-team{
  width: 20%;
  border: 3px solid #000;
  border-radius: 20px;
  margin-top: 2%;
  padding: 24px;
}

.card-title, .card-text{
  text-align: center;
  padding: 0;
  margin: 0;
}

/* Footer Section */

footer {
  padding-top: 5%;
}


@media (max-width:900px) {

  h1 {
    font-size: 24px;
  }

  .row {
    text-align: left;
  }

  hr {
    border: dotted #000000 5px;
    width: 10%;
    border-bottom: none;
    margin: 1rem auto;
  }

  /* Home Section */

  .sub-heading {
    font-size: 12px;
  }

  .desc-1 {
    font-size: 15px;
    width: 100%;
  }

  .col {
    margin-top: 2%;
  }

  .col h4 {
    font-size: 11px;
  }

  .col p {
    width: 70%;
    font-size: 10px;
  }

  .solar {
    width: 100%;
  }

  /* Card Section*/

  .card {
    max-width: 90%;
    margin: auto;
  }

  /* Footer Section */

  footer {
    padding-top: 5%;
  }
}