@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Merriweather&display=swap');

body{
  background-color: antiquewhite;
  text-align: center;
}

h1{
  font-family: 'Gulzar', serif;
}

nav{
  margin: 2% 4%;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  color: #000;
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
}

.row{
  margin: 4% 4%;
}

.poster-1{
  width: 90%;
}