@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Merriweather&display=swap');

body {
  background-color: antiquewhite;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Gulzar', serif;
  color: #FF6B00;
}

.row {
  margin: 2% 7%;
  text-align: left;
}

/* Header Section */

nav {
  margin: 2% 4%;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  color: #000;
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
}

/* Home Section */

.solar {
  width: 94%;
}

.main-heading {
  margin-top: 2%;
}

.sub-heading {
  font-size: 20px;
}

.desc-1 {
  font-size: 24px;
  width: 95%;
}

.col {
  display: flex;
  justify-content: space-between;
}

.col p {
  width: 42%;
}

/* Card Section*/

.card {
  max-width: 80%;
  margin: auto;
}

/* Footer Section */

footer {
  padding-top: 5%;
}