@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Serif+Pro:wght@400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1,
h4,
h5 {
  font-family: 'Source Serif Pro', serif;
  color: #FF6B00;
}

.container {
  margin-bottom: 2%;
  margin-top: 2%;
}

.row {
  text-align: left;
}

hr {
  height: 4px;
  border-width: 0;
  color: rgb(0, 0, 0);
  background-color: #000000;
}

/* Header Section */
.nav-item {
  padding: 0 18px;
  display: inline-block;
}

.nav-link {
  color: #000;
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 1%;
}

/* Home Section */

.solar {
  width: 100%;
}

h1 {
  margin-top: 2%;
  font-size: 2rem;
  font-weight: 600;
}

.sub-heading {
  font-size: 1.1rem;
}

.desc-1 {
  font-size: 1.3rem;
}

.col {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

/* About Section */

.desc-2 {
  font-size: 1.3rem;
  margin-top: 2rem;
  line-height: 2rem;
  text-align: left;
}

/* Card Section*/

.card {
  max-width: 90%;
  margin: auto;
}

/* Core Team */

.team {
  width: 20%;
  margin: auto;
}

.heading {
  margin-top: 0.9%;
}

.core-team {
  width: 25%;
  border: 3px solid #000;
  border-radius: 20px;
  margin: 2% 4%;
  padding: 24px;
  display: inline-block;
}

/* Blog Section */

.short-title{
  text-align: right;
}

/* Footer Section */

footer {
  padding-top: 5%;
}


@media (max-width:900px) {

  h1 {
    font-size: 24px;
  }

  .row {
    text-align: left;
  }

  hr {
    border: solid #000000 2px;
    width: 60%;
    border-bottom: none;
    margin: 1rem auto;
  }

  /* Home Section */

  .sub-heading {
    font-size: 12px;
  }

  .desc-1 {
    font-size: 15px;
    width: 100%;
  }

  .col {
    margin-top: 2%;
  }

  .col h4 {
    font-size: 11px;
  }

  .col p {
    width: 70%;
    font-size: 10px;
  }

  .solar {
    width: 100%;
  }

  /* Card Section*/

  .card {
    max-width: 90%;
    margin: auto;
  }

  /* Core Team */

  .team {
    width: 100%;
  }

  .heading {
    margin-top: 2%;
  }

  .core-team {
    width: 47%;
    padding: 10px;
    margin: 5px 3px;
  }

  /* Footer Section */

  footer {
    padding-top: 5%;
  }
}