@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Merriweather&display=swap');

body {
  background-color: antiquewhite;
  text-align: center;
}

h1 {
  font-family: 'Gulzar', serif;
  color: #FF6B00;
}

nav {
  margin: 2% 4%;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  color: #000;
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
}

.row {
  margin: 4% 4%;
  text-align: left;
  padding-left: 24px;
}

.poster-1 {
  width: 50%;
}

.main-heading {
  margin-top: 2%;
  font-size: 2rem;
  margin-right: 8%;
}

.sub-heading {
  margin-right: 8%;
}

.desc-1 {
  font-size: 25px;
  margin-right: 8%;
}